PORT=3001
NODE_ENV=development
DATABASE_URL="postgresql://postgres.neyktzehnltvkbisapkz:tesgKy8r8PheqjUm@aws-0-ap-south-1.pooler.supabase.com:6543/postgres"
JWT_SECRET=admissionai_jwt_secret_change_in_production_2024_secure_key
JWT_EXPIRES_IN=7d
UPLOAD_DIR=uploads
MAX_FILE_SIZE=10485760
